body{
	font-family: arial, sans-serif;
}
.claerfix{
	clear: both;
}
.container{
	position: relative;
	width:910px;
	padding-top: 22px;
	margin: 0 auto;
}
/*HEDER*/
header{
	position: relative;
}
.phoneImg{
	float: left;
	margin-left: 7px;
}
.phone{
	float: left;
	display: inline-block;
	position: absolute;
	left: 32px;
	top: 2px;
	color: #5e686c; /* text color */
	font-family: "Arial", sans-serif;
	font-size: 19px;
}
.shapeLink{
	position: absolute;
	height: 19px;	
	width: 75px;
	right: 7px;
	top: -3px;
	border: 1px solid #bdc3c7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px; 
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff; 
	box-shadow: 0px 1px 2px #bdc3c7;
}
.shapeLink a{
	position: absolute;
}
.shapeLink .mail{
	right: 12px;
}
.shapeLink .map{
	right: 33px;
}	
.shapeLink .home{
	right: 55px;
}
.logIn{
	position: absolute;
	width: 495px;
	height: 25px;	
	left: 314px;
	bottom: 288px;
	-moz-border-radius: 4px / 3px;
	-webkit-border-radius: 4px / 3px;
	border-radius: 4px / 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;*/
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #b1bbbf; /* layer fill content */
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.75); /* drop shadow */
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.75); /* drop shadow */
	box-shadow: 2px 3px 3px rgba(150,150,150,.75); /* drop shadow */
	background-image: -moz-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: -o-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
}
.logIn img{
	float: left;
	margin-left: 7px;
	margin-top: 5px;
	margin-right: 3px;
}
.logIn input{
	float: left;
	margin-top: 3px;
	width: 108px;
	height: 13px;
	padding-left: 5px;
	padding-bottom: 2px;
	margin-bottom: 15px;
	border: 1px solid #9ba0a3;
	border-radius: 3px; 
	background-color: #fff; 
	box-shadow: 0 0 1px #9ba0a3;
	color: #97a1a5; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 11px;
	
}
.logIn input[type="password"]{
	margin-left: 6px;
}
.logIn> a{
	color: #fff; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 11px;
	text-decoration: none;
	margin-left: 5px;
	line-height: 2.3em;
}
.logIn .reg{
	position: absolute;
	right: 123px;
	font-family: "Lucida Sans Unicode", sans-serif;
}
.logIn input[type="submit"]{
	position: absolute;
	right: 195px;
	background: transparent;
	color: white;
	width: 40px;
	text-align: center;
	height: 20px;
	border: none;
	box-shadow: none;
}
.logIn> span{
	position: absolute;
	right: 195px;
	top: 7px;
	color: #fff; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 11px;
}
.logIn .lostPassword{
	position: absolute;
	right: 10px;
	top: -1px;
	color: #bfbfbf; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 12px;
	text-decoration: underline;
}
.mainfoto{
	margin-top: 8px;
} 
/*NAV MENU*/
nav ul{
	position: relative;
	width: 909px;
	height: 32px;
	margin-top: 3px;
	border: 1px solid #0c1542; /* stroke */
	-moz-border-radius: 6px / 4px;
	-webkit-border-radius: 6px / 4px;
	border-radius: 6px / 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
	-webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
	box-shadow: 2px 3px 5px rgba(0,0,0,.6); /* drop shadow */
	background-image: -moz-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #000 0%, #565f68 100%); /* gradient overlay */
}
/*.bascket div{
	font-size: 11px;
	color: #b1bcc0;
	font-family: "Lucida Sans Unicode", sans-serif;
}*/.uah{
	position: absolute;
	left: 845px;
	bottom: 10px;
	color: #0d598f; /* text color */
	font-family: "Arial";
	font-size: 13px;
}
.sum{
	position: absolute;
	left: 780px;
	top: 10px;
	color: #b1bcc0; /* text color */
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
}
.num{
	position: absolute;
	left: 759px;
	top: 10px;
	color: #0d598f; /* text color */
	font-family: "Arial";
	font-size: 13px;
}
.item{
	position: absolute;
	left: 710px;
	top: 10px;
	color: #b1bcc0; /* text color */
	font-family: "Lucida Sans Unicode";
	font-size: 11px;
}
.bascket img{
	position: absolute;
	left: 682px;
	top: 7px;
}
.artic,
.contacts,
.shipping,
.pay{
	text-decoration: none;
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
	color: #a2acb0;
}
.contacts{
	position: absolute;
	left: 535px;
	top: 10px;
}
.artic{
	position: absolute;
	left: 457px;
	top: 10px;
}
.shipping{
	position: absolute;
	left: 353px;
	top: 10px;
}
.pay{
	position: absolute;
	left: 265px;
	top: 10px;
}
.about{
	position: absolute;
	left: 145px;
	top: 10px;
}
nav li .active{
	padding: 7px 17px 5px 20px;
	left: 125px;
	top: 3px;
	text-decoration: none;
	border-radius: 13px; 
	background-image: -moz-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: -o-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	color: #fff; 
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
}
/*SECTION FORMS*/
section{
	position: absolute;
	left: 10px;
}
.forms form{
	position: absolute;
	border: 1px solid #9b9c9d; /* stroke */
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 3px 4px 5px rgba(104,104,104,.6); /* drop shadow */
	-webkit-box-shadow: 3px 4px 5px rgba(104,104,104,.6); /* drop shadow */
	box-shadow: 3px 4px 5px rgba(104,104,104,.6); /* drop shadow */
}
.searchDiscs{
	width: 267px;
	height: 134px;
	left: 625px;
	top: 10px;
}
.searchTire{
	width: 192px;
	height: 134px;
	left: 421px;
	top: 10px;
}
.searchAuto{
	width: 413px;
	height: 134px;
	left: -5px;
	top: 10px;
}


/*LEFT COLUMN*/
.circle{
	display: inline-block;
	border-radius: 13px;
	border: 5px solid #114165;
	padding: 6px;
}
.left{
	position: absolute;
	width: 193px;
	top: 496px;
}
.left .catalog{
	width: 180px;
	height: 25px;
	color: #114165; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	border: 1px solid #79878d; /* stroke */
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.5); /* drop shadow */
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.5); /* drop shadow */
	box-shadow: 2px 3px 3px rgba(150,150,150,.5); /* drop shadow */
}
.catalog img{
	position: absolute;
	left: 2px;
	top: 2px;
}
.prod{
	position: absolute;
	left: 90px;
	top: 8px;
}
.catProd{
	position: absolute;
	left: 27px;
	top: 8px;
}

.left ul{
	position: relative;
	list-style: circle;
	height: 140px;
	border: 1px solid transparent;
}
.tire{
	position: absolute;
	left: 25px;
	top: 21px;
}
.bolt{
	position: absolute;
	top: 20px;
}
.discs{
	top: -14px;
}
.bolts{
	top: -30px;
}
.article1,
.article2,
.article3,
.article4{
	position: absolute;
	left: 51px;

}
.article1 a,
.article2 a,
.article3 a,
.article4 a{
	margin-left: -5px;
	font-size: 13px;
	color: #114165; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
}
.article4{
	top: 123px;
}
.article3{
	top: 97px;
}
.article2{
	top: 71px;
}
.article1{
	top: 46px;
}
.left .title{
	padding: 2px 4px;
	width: 140px;
	border: 1px solid #79878d;
	border-radius: 13px;
	color: #114165; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
}
.left .indent{
	margin-top: 12px;
}
.circle{
	float: left;
}

.left li,
.left li a:visited{
	color:#114165;
	font-size: 12px;
}
.left a{
	text-decoration: none;
}
.active a{
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	text-decoration: underline;
	font-family: "Lucida Sans Unicode", sans-serif;
}
/*RIGHT COLUMN*/
.right{
	position: absolute;
	width: 193px;
	left: 726px;
	top: 494px;
}
.right .catalog{
	width: 180px;
	height: 25px;
	color: #114165; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	border: 1px solid #79878d; /* stroke */
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 2px 3px 3px rgba(150,150,150,.5); /* drop shadow */
	-webkit-box-shadow: 2px 3px 3px rgba(150,150,150,.5); /* drop shadow */
	box-shadow: 2px 3px 3px rgba(150,150,150,.5); /* drop shadow */
}
.brands{
	position: absolute;
	left: 31px;
	top: 7px;
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
}
.right .catalog img{
	position: absolute;
	width: 23px;
	height: 22px;
	left: 3px;
}
.right .title{
	position: absolute;
	top: 41px;
	left: 15px;
	padding: 2px 4px;
	width: 126px;
	border: 1px solid #79878d;
	border-radius: 11px;
	color: #114165; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
}
.right.indent{
	margin-top: 12px;
}
.right .title2{
	position: absolute;
	top: 155px;
	left: 15px;
	padding: 2px 4px;
	width: 126px;
	border: 1px solid #79878d;
	border-radius: 11px;
	color: #114165; /* text color */
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 14px;
}
.circle{
	float: left;
}
.right .tire{
	top: 7px;
}
input[type="checkbox"]{
	position: absolute;
	left: 21px;
}
label{
	position: absolute;
	left: 49px;
}
#brand1{
	top: 75px;
}
.brand1{
	top: 77px;
}
#brand2{
	top: 100px;
}
.brand2{
	top: 102px;
}
#brand3{
	top: 125px;
}
.brand3{
	top: 127px;
}
#brand4{
	top: 189px;
}
.brand4{
	top: 193px;
}
#brand5{
	top: 215px;
}
.brand5{
	top: 218px;
}
#brand6{
	top: 241px;
}
.brand6{
	top: 244px;
}
form .formDiscs{
top: 2000px;	
}
.right input[type="submit"]{
	position: absolute;
	top: 277px;
	left: 24px;
    width: 83px;
    height: 26px;
    color: #fff;
    font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 13px;
	border: 1px solid #a7abad; /* stroke */
	-moz-border-radius: 11px / 13px;
	-webkit-border-radius: 11px / 13px;
	border-radius: 11px / 13px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #000; /* layer fill content */
	background-image: -moz-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: -o-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */
	background-image: linear-gradient(top, #1f6987 0%, #114165 59.23%, #0b3155 100%); /* gradient overlay */

}
/*MAIN CONTENT*/
main{
	position: absolute;
	width: 526px;
	height: 627px;
	left: 191px;
	top: 493px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	background-image: -moz-linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, rgba(35,75,93,.49) 0%, rgba(201,207,209,.49) 100%); /* gradient overlay */
}
figure{
	display: inline-block;
	text-align: center;
}
.price{
	color: #114165; /* text color */
	font-family: "Arial";
	font-size: 17px;
	font-weight: bold;
	font-style: italic;
}
figcaption p a{
	display: inline-block;
	margin-top: 1px;
	color: #206988;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
figcaption span{
	font-size: 14px;
}
.firstLine{
	margin-top: 11px;
	margin-left: -3px;
}
.firstLine figure{
	margin-left: 25px;
}
.secondLine{
	margin-top: 20px;
	margin-left: -3px;
}
.secondLine figure{
	margin-left: 25px;
}
.thirdLine{
	margin-top: 22px;
	margin-left: -3px;
}
.thirdLine figure{
	margin-left: 25px;
}
.Goodyear{
	position: absolute;
}
.tradeMarcs{
	height: 30px;
	margin-top: 42px;
	margin-left: 115px;
	margin-bottom: 18px;

}
.tradeMarcs a{
	position: absolute;

}
.dunlop{
	left: 721px;
	top: 1163px;
}
.pirelli{
	left: 645px;
	top: 1163px;
}
.factory{
	left: 575px;
	top: 1158px;
}
.avon{
	left: 485px;
	top: 1163px;
}
.cooper{
	left: 414px;
	top: 1161px;
}
.continental{
	left: 322px;
	top: 1162px;
}
.bridge{
	left: 212px;
	top: 1162px;
}
.toyo{
	left: 117px;
	top: 1162px;
}
/*FOOTER*/
footer{
	position: absolute;
	top: 1210px;
	width: 908px;
	min-height: 15vh;
	margin: 0 auto;
	border: 1px solid #24293c; /* stroke */
	background-color: #213a4d; /* layer fill content + color overlay */
}
.hrefs{
	margin-top: 10px;
	margin-left: 290px;
	margin-bottom: 20px;
}
.hrefs a{
	float: left;
	border-right: 2px solid #bec6c9;
	padding: 0 12px;
	color: #bec6c9; /* text color */
	font-family: "Arial";
	font-size: 13px;
	text-decoration: none;
}
.hrefs li:last-child a{
	border: none;
}
.link a{
	color: #51abcb; /* text color */
	font-family: "Arial";
}
footer p{
	width: 156px;
	margin: 0 auto;
}